body {
    color: #fff;
    background-color: #333;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

h1 {
    font-size: 32px;
    margin: 16px;
}

h2 {
    background-color: #008ecc;
    font-size: 24px;
    padding: 8px 16px;
}

.item {
    border: 1px solid #fff;
    margin: 0 16px 16px;
}

.content {
    padding: 16px;
}
/* if the default conent width is wider than the browser window it will create overlfowing content */
.flex-container {
    display: flex; /* default */
    /* align-items: flex-start; */ /* flex directions */
    flex-flow: row;
    /* flex-wrap: nowrap; default */
    flex-flow: nowrap;
    flex-flow: row nowrap;
    flex-flow: row-reverse wrap;
}